.dialog 
  width: 80%
  max-width: 500px
  min-height: 100px
  min-width: 300px
  border-radius: 6px
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1)
  background-color: white