.home
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background-image: linear-gradient(to right, #306cc0, #ce0b21, #f2b10b, #005524) 
  background-clip: text
  color: transparent
  animation: movinggradient 20s linear infinite
  background-size: 200%

@keyframes movinggradient
  0% 
    background-position: 0% 50%
  50% 
    background-position: 100% 50%
  100% 
    background-position: 0% 50%

